.item{
    border: 3px solid red;
    /* display: none; */
    /* display: block; */
    /* display: inline; */
    height: 100px;
    width: 100px;
    /* display: block; */
    /* display: inline; */
    /* display: inline-block; */
    display: flex;
}

.container{
    border: 3px solid blue ;
    display: flex;
    flex-flow: wrap;
}